In [4]:
import pandas as pd

In [22]:
Top10 = pd.read_csv (r'../resources/WineTop10.csv')
Top10.head(1)

,id,X1,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,1,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [25]:
#Rows of data
Top10['id'].nunique()

16961

In [16]:
#Number of wineries
Top10['winery'].nunique()

2555

In [23]:
#Number of varieties
Top10['variety'].nunique()

10

In [15]:
#Number of critics
Top10["taster_twitter_handle"].nunique()

10

In [18]:
#Average rating across the country
Top10["points"].agg("mean")

89.7681150875538

In [19]:
#Average price across the country
Top10["price"].agg("mean")

45.068569070219915

In [24]:
States = pd.read_csv (r'Wine_by_State2.csv')
#Number of states in the dataset
States

    id        province  avg_price  avg_score   Latitude   Longitude
0    1         Arizona  29.200000  84.926829  34.168219 -111.930907
1    2      California  39.041048  88.627776  37.271875 -119.270415
2    3        Colorado  32.985294  86.117647  38.997934 -105.550567
3    4     Connecticut  15.333333  84.000000  41.518784  -72.757507
4    5          Hawaii  28.000000  87.000000  20.460000 -157.505000
5    6           Idaho  20.768421  86.598958  45.494576 -114.142430
6    7        Illinois  32.333333  84.500000  39.739318  -89.504139
7    8            Iowa  15.500000  83.000000  41.938317  -93.389798
8    9        Kentucky  35.000000  83.000000  37.822294  -85.768240
9   10   Massachusetts  21.285714  84.857143  42.062940  -71.718067
10  11        Michigan  32.432432  86.105263  44.943560  -86.415805
11  12        Missouri  17.333333  83.333333  38.304662  -92.437099
12  13          Nevada  37.750000  84.250000  38.502032 -117.023060
13  14      New Jersey  25.500000  84.000000  40.143006  -74.731116
14  15      New Mexico  22.422222  83.955556  34.166232 -106.026069
15  16        New York  22.826233  87.178571  40.705626  -73.979680
16  17  North Carolina  21.000000  84.565217  35.214563  -79.891267
17  18            Ohio  13.750000  84.083333  40.190362  -82.669252
18  19          Oregon  36.545064  89.051926  44.141905 -120.538099
19  20    Pennsylvania  23.333333  84.555556  40.994593  -77.604698
20  21    Rhode Island  25.000000  90.000000  41.582728  -71.506451
21  22           Texas  25.602151  85.212766  31.169336 -100.076842
22  23         Vermont  31.666667  84.333333  43.871755  -72.447783
23  24        Virginia  27.012987  85.611326  38.003386  -79.458786
24  25      Washington  32.436444  88.947216  38.899349  -77.014567